@if(User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input class="btn btn-default" type="submit" value="Logout" />
    </form>
}