@model Transaction
@{
    ViewBag.Title = "Delete Transaction";
}
<h1>Delete Transaction</h1>
<form method="post">
    Are you sure you want to delete the transaction?

    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <a class="btn btn-default" asp-action="Index">Back</a>
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
</form>