@model TransactionViewModel

@{
    ViewBag.Title = "Edit Transaction";
}

<h1>Edit Transaction</h1>

<form method="post">
    @Html.Partial("TransactionForm")

    <div>
        <a class="btn btn-default" asp-action="Index">Back</a>
        <input type="submit" value="Edit" class="btn btn-default" />
    </div>
</form>